@font-face {
    font-family: "JF Flat Regular";
    src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'),
        url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
        url(../fonts/JF-Flat-regular.woff) format('woff'),
        url(../fonts/JF-Flat-regular.ttf) format('truetype');
    font-weight: bolder;
    font-style: normal;
}

body {
    font-family: 'JF Flat Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: black !important;
}

/* تنسيقات القائمة العلوية */
.custom-navbar {
    border-bottom: 3px solid #eef0ea;
    background-color: #fff;
    width: 100%;
    padding: 15px 0;
}

.custom-form-control,
.custom-btn {
    border: 1px solid #ebebeb;
    border-radius: 2px;
    box-shadow: none;
    color: #686868;
    height: 38px;
    padding: 6px 16px 7px;
    transition: all 0.5s ease;
}

.custom-btn:hover {
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
    color: #ff3956;
}

.custom-btn:focus {
    color: #ff3956;
}

.catagories {
    border-right: 0 !important;
}

.custom-dropdown-menu {
    border-radius: 2px;
    box-shadow: 0px 2px 5px 0 #ebebeb !important;
    color: #777;
}
.search-btn{
    background-color: #ff3956;
    color: #fff;
    border-color: #ff3956;
    border-radius: 0;
    padding: 5px 15px 7px;
    height: 38px;
    width: 65px;
    font-weight: 700;
    font-size: 14px;
    transition: all 0.5s ease;
}
.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.search-btn:active:hover,
.search-btn:active:focus
{
    background-color: #c2101e;
    color: #fff;
    border-color: #ff3956 ;
    box-shadow: none;
}
.nav-link:not(.catagories){
    color: #555555;
    font-size: 14px;
    padding: 15px;
}
.custom-navbar .navbar-nav li.active a.nav-link{
    color: #ff3956;
    font-weight: 700;
    border-bottom: 2px solid #ff3956;
}
.custom-navbar .navbar-nav li.active:hover a.nav-link{
    background-color: #e7e7e7;
}
.costom-dropdown-menu li a:hover{
    background-color: #ffe7ea;
}
.custom-navbar .btn-icon{
    color: #777;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 2px;
    font-size: 14px;
    margin-right: 15px;
}
.custom-form-control:hover,
.custom-form-control:focus {
border-color: #ff3956;
box-shadow: 0 0 2px #ff3956;

}

/* تنسيقات قسم المنتجات المميزة */

#carousel-featured{
    background-color: #f7f8f3;
    height: 400px;
    padding-top: 25px;
    
}
#carousel-featured .carousel-item img{
    height: 375px;
}
#carousel-featured .product-details{
    border: 1px solid #DDDDDB;
    padding: 20px;
    position: relative;
    top: 50px;
    height: 200px;
    background-color: #F7F8F3;
    
}
#carousel-featured .product-details .product-catagory{
    border:  1px solid #DDDDDB;
    background-color: #F7F8F3; 
    position: absolute;
    padding: 10px;
    top: -10px;
    right: -10px;
}
#carousel-featured .product-details h1{
    font-weight: 700;
    font-size: 175%;
    margin-top: 18px;
}
.custom-btn-outline-warning{
    border-color: #e1ac62;
    background-color: transparent;
    color: #e1ac62;
}
.custom-btn-outline-warning:hover,
.custom-btn-outline-warning:active,
.custom-btn-outline-warning:focus,
.custom-btn-outline-warning:active:hover,
.custom-btn-outline-warning:active:focus{
    color: rgb(184, 109, 7);
   border-color: rgb(184, 109, 7) ;
}
.custom-btn-outline-warning:focus{
    box-shadow: none;
}
.sale{
    background-color: #53CCD7;
    color: #fff;
    font-weight: bold;
    position: absolute;
}
.sale.large{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top: -15px;
    left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    padding: 35px;
    line-height: 90%;
    flex-direction: column;
    transform: rotate(-25deg);
}
.custom-carousel-indicators{
    top: 230px;
    right: 40%;
}
.custom-carousel-indicators-primary{
    height: 70px !important;
    width: 70px !important;
    opacity: 1 !important;
    border: 2px solid #DDDDDB !important;
    margin: 0 !important;
    margin-left: 5px !important;
}
.custom-carousel-indicators-primary.active{
    border-color: #f8ad47 !important;
}
#carousel-featured .carousel-control-prev .fa-chevron-right,
#carousel-featured .carousel-control-next .fa-chevron-left{
    color: #868686;
    font-size: 38px;
}

/* بداية تنسيقات قسم مميزات المتجر */

#store-featuers{
    box-shadow: 0 0 15px #eef0ea;
    background-image: url(../images/bg_features.png);
    background-repeat: no-repeat;
    background-size: auto 60%;
    position: relative;
    top: -30px;
    background-color: #fff;
    padding-bottom: 35px;
    padding-top: 25px;
    background-position: -10px -15px;
}
#store-featuers .feature>img{
height: 40px;
margin-bottom: 15px;
}
#store-featuers .feature + .feature {
    border-right: 2px solid #eef0ea;
}
